{% extends "base.html" %} {% block title %} Shopping Cart {% endblock %} {% block content%}
<body>
	<script>
        let browseend = new Date().getTime()
        $.ajax({
            url: 'http://localhost:5000/postrequest/{{userid}}/{{storeid}}',
            type: "GET",
			crossDomain: true, 
            data: {'browseend':JSON.stringify(browseend)},
            success: function () {
                console.log('this is browseend');
            }
        });
    </script>


	<div class="container">
		{% for row in cart %}
		<div class="row">
			<a href="/item/{{row.id}}">{{row.name}}</a>
			<a href="shoppingcart/remove/{{row.id}}">Remove {{row.name}}</a>
		</div>
		{% endfor %}
	</div>
	{% if info and cart %}
	<form method="POST">
		<input type="submit" name="buy" value="Buy">
	</form>
	{% elif not cart %}
	<a href="/">You have no items, let's go shop!</a>
	{% elif not info %}
	<a href="/profile">Add billing info to profile</a>
	{% endif %}
</body>
{% endblock %}