{% extends "base.html" %} {% block title %} {{store.name}} {% endblock %} {% block content%}
<body>
    <div>
        <p>{{store.name}} {{store.type1}} {{store.type2}}</p>
        <!-- <p><span id="browsestart"></span></p> -->
    </div>

    {% for item in items %}
    <div>
        <a href="/item/{{item.id}}">to request pobre</a>
    </div>
    {% endfor %}

    <script>

        let browsestart = new Date().getTime();
        console.log(browsestart);
        

        $.ajax({
            url: 'http://localhost:5000/prerequest/{{user.id}}/{{store.id}}',
            type: "GET",
            data: {'browsestart':JSON.stringify(browsestart)},
            success: function () {
                console.log('this is browsestart');
            }
        });

    </script>
</body>
{% endblock %}