{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content%}
<body>
	{% if current_user.role=='admin' %}
	<div class="container" style="height:1rem">
		<a href="newstore" class="btn btn-primary">+</a>
	</div>
	{% endif %}
	<div class="row mw-100">
		{% for column in storesls %}
		{% if column %}
		<a href="/store/{{column.id}}">
		<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 col-xs-5">
			<div class="card" style="width: 15rem; height: 14rem;">
				<img style="height: 10rem" src="static/images/{{column.logoname}}" alt="{{column.name}}">
				<div style="height: 4rem" class="card-footer">
					<div class="row mw-100">
						<div class="col-7">
							<h6 class="card-title">{{column.name}}</h6>
						</div>
						<div class="col-5">
							<p class="card-text"><small>{{column.type1}} {{column.type2}}</small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</a>
		{% if current_user.role=='admin' %}
		<a href="removestore/{{column.id}}">Delete</a>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
</body>
{% endblock%}