{% extends "base.html" %} {% block title %} New Store {% endblock %} {% block content%}
<form method="POST" enctype="multipart/form-data">
    <h3 align="center">New Store</h3>
    <div class="form-group">
        <label for="storename">Store Name</label>
        <input type="text" class="form-control" id="storename" name="storename" placeholder="Enter Store Name" />
    </div>
    <div class="form-group">
        <label for="type1">Essential type</label>
        <select class="form-select" id="type1" name="type1">
            <option selected>Choose...</option>
            <option value="mix">Misto</option>
            <option value="clothes">Roupa</option>
            <option value="electronics">Eletronicos</option>
            <option value="furniture">Moveis</option>
        </select>

        <label for="type2">Type 2</label>
        <select class="form-select" id="type2" name="type2">
            <option selected>Choose...</option>
            <option value="mix">Misto</option>
            <option value="clothes">Roupa</option>
            <option value="electronics">Eletronicos</option>
            <option value="furniture">Moveis</option>
        </select>

        <label for="type3">Type 3</label>
        <select class="form-select" id="type3" name="type3">
            <option selected>Choose...</option>
            <option value="mix">Misto</option>
            <option value="clothes">Roupa</option>
            <option value="electronics">Eletronicos</option>
            <option value="furniture">Moveis</option>
        </select>
    </div>
    <div class="form-group">
        <input type="file" name="logo" />
    </div>
    <br />
    <button type="submit" class="btn btn-dark">Add to page</button>
</form>
{% endblock %}