{% extends "base.html" %} {% block title %} {{item.name}}  {% endblock %} {% block content%}
<body>
    <script>
        let browseend = new Date().getTime()
        $.ajax({
            url: 'http://localhost:5000/postrequest/{{user.id}}/{{store.id}}',
            type: "GET",
            crossDomain: true,
            data: {'browseend':JSON.stringify(browseend)},
            success: function () {
                console.log('this is browseend');
            }
        });
    </script>

    <div>
        <button id="addToCart" class="btn btn-primary">Add to Cart</button>
    </div>
</body>
{% endblock %}