.card {
    margin: 1em;
    min-height: 10em;
    width: 14em
}

body {
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}

.container {
    height: 180px;
    width: 80%;
    position: relative;
}

.column {
    margin: 3em;
}

